@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

img {
    width: 100vw;
}

a {
    padding: 20px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.432);
    background-color: darkred;
    display: block;
}

a:hover {
   background-color: red;
}