@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

main {
    height: 100vh;
    position: relative;
    background: url('../imagens/fundo-madeira.jpg')no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    
    height: 626px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat;
}

section#redes-sociais img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.534);
}

section#redes-sociais {
    text-align: right;
}

section#redes-sociais img:hover {
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.562);
    transition: .5s, border .6s;
    transform: translate(-3px, -3px);
}

iframe#home {
    position: relative;
    top:12% ;
    left:7% ;
    width: 265px;
    height: 472px;
}

